@import "src/_styles/settings";

.modalProfile {
  @include rem("height", 300px);
  @include rem("width", 650px);
  @include rem("padding-bottom", 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Loading {
    @include rem("height", 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
