/* SidePanel.css */

/* Estilos para la lista */
.list-container {
  width: 90%;
  height: fit-content;
  padding: 0.5rem;
  padding: 1rem;
}
.list-item {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  border: "1px solid red";
}

.list-item-active {
  color: #009cda;
}

/* Estilos para el separador */
.separator {
  width: 80%;
  background-color: #ffffff;
}

/* Estilos para el resumen del acordeón */
.accordion-summary {
  display: flex;
  flex-direction: column;
}

/* Estilos para elementos sin icono */
.list-item-no-icon {
  padding-left: 2rem; /* Ajusta el valor de padding-left según tus preferencias */
}
/* Estilos para elementos activos sin icono */
.list-item-active.list-item-no-icon {
  padding-left: 2rem; /* Ajusta el valor de padding-left según tus preferencias */
}
