@import "src/_styles/settings";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include rem("gap", 30px);
  &Delete {
    @include h3-regular;
    color: $grey-6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include rem("height", 120px);
    @include rem("gap", 5px);

    span {
      color: $red-alert;
    }
  }
  &Filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &Buttons {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      @include rem("gap", 5px);
      @include rem("padding", 10px 0px);
    }
  }

  &Table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}
