@import "src/_styles/settings";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;

  &Background {
    z-index: z("backgroundLogin");
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &Login {
    z-index: z("loginCard");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $grey-1;
    @include boxShadow;
    @include rem("margin", 80px);
    @include rem("padding", 40px);
    @include rem("max-width", 460px);
    @include rem("border-radius", 8px);

    &Logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include rem("padding", 20px);
    }

    &Content {
      @include rem("padding", 20px);
      width: 100%;

      button {
        background: $brand-1;
        width: 100%;
        @include rem("height", 65px);
        &:hover {
          background: $grey-2;
        }
      }

      &ButtonContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @include rem("gap", 15px);
        img {
          @include rem("width", 24px);
          @include rem("height", 24px);
        }
        span {
          @include h3-regular;
          text-transform: capitalize;
          color: $grey-3;
        }
      }
    }
  }

  &Privacy {
    z-index: z("privacyLogin");
    position: fixed;
    @include rem("bottom", 10px);
    @include rem("right", 10px);
    @include rem("width", 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    span,
    a {
      font-family: Arial;
      @include rem("font-size", 16px);
      @include rem("line-height", 24.88px);
      font-weight: 400;
      text-align: right;
      color: $grey-6;
    }

    &Button {
      display: flex;
      justify-content: center;
      @include rem("border-width", 1.5px);
      border-style: solid;
      border-color: $brand-4;
      @include rem("height", 30px);
      @include rem("width", 80px);
      @include rem("border-radius", 50px);
      @include rem("line-height", 24.88px);
      align-items: center;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
