.modulesContainer {
  max-width: 100%;
  height: 80vh;

  margin: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connectedModules,
.associatedSensors {
  width: 30%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-shadow: 0px 4px 32px 0px #0000001a;
  border-radius: 8px;
}
.assetsAndDetails {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.associatedAssets,
.selectionDetails {
  width: 100%;
  height: 45%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-shadow: 0px 4px 32px 0px #0000001a;
  border-radius: 8px;
}
.associatedAssetsItems {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}
.associatedAsset {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.associatedAsset > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.associatedAsset > div p:nth-child(1) {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  color: #b3b3b3;
}
.associatedAsset > div p:nth-child(2) {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  color: #000000;
}
.title {
  width: 100%;
  height: 30px;

  position: relative;

  margin: 1rem auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
}
.title > p {
  font-family: Arial;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;

  color: #000000;
}

.blueDot {
  width: 15px;
  height: 15px;

  border-radius: 50%;

  background-color: #0069c8;

  margin: 0 1rem;
}
.titleIcon {
  position: absolute;
  right: 10px;
  color: #b3b3b3;
}
.listModule {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.listModule > div {
  margin-left: 1rem;
}
.listModule > div > p:nth-child(1) {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  color: #b3b3b3;
}
.listModule > div > p:nth-child(2) {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  color: #00000090;
}
.titleIcon:hover {
  cursor: pointer;
}
.connectedModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4d4d4d88;
}
.connectedModalContainer {
  width: 616px;
  height: 80vh;

  padding: 1rem;

  border-radius: 8px;

  background: #ffffff;

  box-shadow: 0px 4px 32px 0px #0000001a;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.connectedTitle {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.connectedTitle > p {
  font-family: Arial;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-align: left;

  color: #0069c8;
}
.modalFooter {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;

  border-top: 1px solid #e6e6e6;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modalFooter button,
.module button {
  min-width: 82px;
  height: 46px;

  border-radius: 8px;
  border: none;

  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;

  background-color: #b3b3b3;

  color: #ffffff;

  margin: 0 3rem;
}
.module button {
  width: 150px;
  margin: 0 !important;
}
.backgroundPlus {
  margin: 0 auto;
  z-index: 10;
}
.backgroundPlus:hover {
  cursor: pointer;
}
.connectedModulesList,
.addAssets {
  position: absolute;
  top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70%;

  overflow-y: scroll;
}
.module {
  margin-top: 2rem;
  width: 80%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.module p {
  font-family: Arial;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-align: left;

  color: #b3b3b3;
}
.module > div {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.module > div input,
.module > div select {
  background-color: #f7fafd;

  width: 326px;
  height: 35.11px;

  border-radius: 8px;

  border: none;
}
.module select,
.module option {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;

  color: #4d4d4d;
}
.selectionDetailsInfo {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.editSection {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  margin-bottom: 90px;
}
.selectionDetailsInfo {
  overflow-y: scroll;
}
.selectionDetailsInfo > div,
.editSection > div {
  width: 100%;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectionDetailsInfo > div > p:nth-child(1),
.editSection > div > p:nth-child(1) {
  width: 40%;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: right;

  color: #b3b3b3;
}

.selectionDetailsInfo > div > p:nth-child(2),
.editSection > div > p:nth-child(2),
.editSection > div > select,
.editSection > div > input {
  width: 60%;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  border: none;
  color: #00000090;
}
