.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  &Children {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &Label {
    display: flex;
    width: 170px;
    height: 35px;
    font-weight: 400;
    font-size: 19px;
    color: #b3b3b3;
    align-items: center;
    p {
      margin: 0;
    }

    &Left {
      justify-content: flex-start;
    }

    &Center {
      justify-content: center;
    }

    &Right {
      justify-content: flex-end;
    }
  }
}
