.modalCreate {
  height: 680px;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

    &Scroll {
      height: 680px;
      width: 750px;
      overflow: scroll;

      &Data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        &Input {
          width: 570px;
          height: 58px;
          justify-content: flex-start;
          display: flex;
          align-items: center;
        }

        &Title {
          width: 100%;
          font-weight: 400;
          font-size: 19px;
          color: #0069c8;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
      }
    }
  }
}
