@import "src/_styles/settings";

.modalCreate {
  @include rem("height", 690px);
  @include rem("width", 1150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Loading {
    @include rem("height", 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

    &ScrollInfo {
      @include rem("height", 690px);
      @include rem("width", 490px);
      @include rem("border-right-width", 1px);
      overflow: scroll;
      border-right-color: $grey-2;
      border-right-style: solid;
    }
  }
}
