@mixin respond-to($breakpoint, $breakpointMax: false, $orientation: false) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);
  $valueMax: map-get($breakpoints, $breakpointMax);

  // If the key exists in the map
  @if $value != null {
    @if $orientation {
      @media (min-width: $value) and (max-width: $valueMax) and (orientation: $orientation) {
        @content;
      }
    }
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin containerSize($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @container (min-width: #{$value}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
