.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.15s, opacity 0.15s linear;
  z-index: 1;

  &.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &Background {
    height: 100%;
    width: 100%;
    background-color: #0000001a;
    z-index: 1;
    transition: opacity 0.15s linear;
  }

  &Container {
    transform: scale(0.95);
    transition: transform 0.15s linear, opacity 0.15s linear;

    position: absolute;
    min-height: 400px;
    min-width: 400px;
    max-width: 90%;
    max-height: 90%;
    background-color: white;
    overflow: scroll;
    border-radius: 8px;
    box-shadow: 0px 4px 32px #0000001a;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px 10px 30px;
    flex-direction: column;
    &.show {
      transform: scale(1);
    }

    &Header {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      border-bottom-width: 1px;
      border-bottom-color: #e6e6e6;
      border-bottom-style: solid;

      &Title {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 50px;
        flex: 1;
        font-weight: 700;
        margin: 0;

        &Add {
          font-size: 19px;
          color: #000000;
          text-transform: uppercase;
        }
        &Edit {
          font-size: 22px;
          color: #808080;
        }
      }

      &Close {
        transition: opacity 0.15s ease;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    &Subtitle {
      width: 100%;
      font-weight: 400;
      font-size: 19px;
      color: #0069c8;
      text-transform: uppercase;
    }

    &Body {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
    }

    &Footer {
      width: 100%;
      align-items: center;
      border-top-width: 1px;
      border-top-color: #e6e6e6;
      border-top-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 100px;
      padding: 22px 0;
    }
  }
}
