/* :hoot{
  --accentcolor-01: #dac719; 
--alertcolor-01: #ff0000; 
--alertcolor-02: #ffa800; 
--alertcolor-03: #ffd600; 
--alertcolor-04: #78d700; 
--brandcolor-01: #f7fafd; 
--brandcolor-02: #b0d1ee; 
--brandcolor-03: #003a6e; 
--brandcolor-04: #0069c8; 
--grey-01: #ffffff; 
--grey-02: #e6e6e6; 
--grey-03: #b3b3b3; 
--grey-04: #808080; 
--grey-05: #4d4d4d; 
--grey-06: #000000; 
--gray-04: #6b7280; 
--h1: 400 0.5626406669616699rem/normal Arial; 
--h1bold: 700 0.5626406669616699rem/normal Arial; 
--h2: 400 0.75rem/normal Arial; 
--h2bold: 700 0.75rem/normal Arial; 
--h3: 400 0.999750018119812rem/normal Arial; 
--h3bold: 700 0.999750018119812rem/normal Arial; 
--h4: 400 1.3326667547225952rem/normal Arial; 
--h4bold: 700 1.3326667547225952rem/normal Arial; 
--h5: 400 1.7764447927474976rem/normal Arial; 
--h5bold: 700 1.7764447927474976rem/normal Arial; 
--h6: 400 2.3680009841918945rem/normal Arial; 
--h6bold: 700 2.3680009841918945rem/normal Arial;
}

 */


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
